* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  overflow: hidden;
}
.btn-std {
  display: inline-block;
  padding: 5px;
}
.btn-std > div {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #bbb;
  border-bottom-width: 4px;
}
.btn-std img {
  display: block;
}

.btn-std.pressed {
  padding-top: 7px;
}
.btn-std.pressed > div {
  border-color: #9bb;
  border-bottom-width: 2px;
  background-color: #dff;
}

.toolbar-color {
  display: flex;
  padding-bottom: 2px;
  padding-right: 2px;
}
.toolbar-color .plte {
  margin-left: 2px;
  margin-top: 2px;
}

@media screen and (max-width: 600px) {
  .toolbar-color > *:nth-child(even) {
    display: none;
  }
}

.plte {
  width: 100%;
  max-width: 64px;
  transition: border-radius 0.3s ease;
  cursor: pointer;
}
.plte:not(.pressed):hover {
  border-radius: 15%;
}
.plte:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.plte.pressed {
  border-radius: 50%;
}

